html {
    height: 100%;
    width: 100%;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}


/* css for webpage*/
header {
    height: 15vh;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(3, 0, 60)
}

/* font and styling for different headings */
h1,
h2 {
    text-align: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* css for grid and spacing */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 90%;
    max-width: 1800px;
    /* max-height: 1000px; */
}

/* css for each column to section different info */
.left-column,
.middle-column,
.right-column {
    padding: 20px;
    background-color: rgb(34, 26, 104);
    border-radius: 8px;
    /* height: max-content; */
}

/* keep the content on the left and middle column to stay on the page as you scroll */
.left-column,
.middle-column {
    position: sticky;
    top: 20px;
    height: max-content;
    align-self: start;
    height: 100vh; 
}

/* Initial style for the right column */
.right-column {
    height: 100vh; 
    /* Hide vertical scrollbar */
    overflow-y: hidden; 
}






/* css for the input sleep data form */
form {
    border: 4px solid rgb(255, 255, 255);
    padding: 2em 1em;
    border-radius: 8px;
    background-color: rgb(50, 145, 241);

}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.form-row>label {
    width: 150px;
    margin-right: 10px;
}

.form-row>input,
.form-row>select,
.form-row>textarea {
    padding: .5em;
    flex-grow: 1;
}



/* css for the listed sleep data */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    /* display: grid; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding: 20px;
    background-color: rgb(10, 75, 140);
    margin-bottom: 20px;
    border-radius: 8px;
}

/* css for sleep type images */
ul li img.sleep-type-image {
    width: 100px;
    height: 80px;
    margin-right: 20px;
    border-radius: 20%;
    object-fit: cover;
}

ul li .task-content {
    flex-grow: 1;
}

ul li p {
    margin: 0 0 15px;
    margin-right: 5px;
}


/* css for the more info button*/
ul li button.more-info-button {
    background-color: #097f2b;
    border: none;
    color: white;
    padding: 6px 20px;
    border-radius: 10px;

    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul li button.more-info-button:hover {
    background-color: #0de44a;
    color: black;
}


/* css for the delete button*/
ul li button.del-button {
    background-color: grey;
    border: none;
    color: #ffffff;
    padding: 6px 8px;
    border-radius: 10px;

    cursor: pointer;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul li button.del-button:hover {
    color: rgb(255, 255, 255);
    background-color: #ef3636;
}







/* CSS for the all-time average rating div */
#ratings_div {
    padding: 10px;
    margin: 20px;

    display: row; 
    align-items: center;  
    /* text-align: center;  */
    
    background-color: rgb(10, 75, 140);
    border-radius: 8px;
    color: white;
}

#ratings_div h3 {
    margin-bottom: 10px;
    font-family: "Coiny", system-ui;
    font-weight: 400;
}

#ratings_div p {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}


/* CSS for the all-time sleep duration div */
/* #duration_div {
    padding-top: 10px;
    padding-bottom: 20px;

    display: row; 
    align-items: center;  
    text-align: center; 
    
    background-color: rgb(10, 75, 140);
    border-radius: 8px;
    color: white;
}

#duration_div h3 {
    margin-bottom: 10px;
    font-family: "Coiny", system-ui;
    font-weight: 400;
}

#duration_div p {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
} */



/* Dialog modal to display average rating and duration info for buttons on the left column*/

/* test**** dialog modal css*/

.avgRatingModal{
    padding: 0.5rem;

    align-items: center;
    text-align: center;

    width: 260px;

    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    background: rgb(53, 3, 230);
    border: 4px solid rgb(255, 255, 255);
    color: rgb(254, 254, 254);

    border-radius: 20px;
    /* z-index: 10; */
    /* width: 400px; */
}






/* test */






/* Modal for the tasklist used when the more info button is pressed*/

/* Overlay styling- darkens background */
.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

/* modal styling for more info section */
.modal {
    display: grid;
    /* align-items: center; */
    padding: 50px;
    position: fixed;

    /* align to center of the page */
    top: 50%;
    left: 50%;

    /* make it centered */
    transform: translate(-50%, -50%);

    /* colour */
    background: rgb(110, 67, 138);
    border: 4px solid rgb(255, 255, 255);
    color: rgb(254, 254, 254);

    border-radius: 40px;
    z-index: 10;
    width: 20%;
}

.modal [data-close-modal] {
    background-color: grey;
    border: none;
    color: #ffffff;
    padding: 6px 8px;
    border-radius: 10px;

    cursor: pointer;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal [data-close-modal]:hover {
    background-color: rgb(178, 163, 163);
    color: #ffffff;
}



/* chnage screen size to single column when the width of screen becomes less than 800px */
@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
    }

    /* change the position of other content to relative so that they scroll on a smaller screen */
    .left-column,
    .middle-column {
        position: relative;
        top: auto;
        height: auto;
        align-self: auto;
    }

    header {
        height: auto
    }
}
